 
 
 a {
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400; 
    font-style: normal; 
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 25px;
  }

  h4{
    font-size: 25px;
  }

  h5{
    font-size: 25px;
  }
  
  html {
    background-color: aquamarine;
  }
  